
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.chaptergrid{
  display: grid;
  margin-top: 100px;
  grid-template-columns: 50% 50%;
  padding-top: 40px;
  position: relative;
  padding-bottom: 50px;
}
.chaptergrid::before{
  content:" " ;
  background-size: 100%;
  /* background-repeat:repeat-y; */
  /* background-attachment: fixed; */
  background-image: url(../Images/krishnarjuna.jpg);
  inset: 0;
  position: absolute;
  opacity: 0.55;
}

.eachchapter{
  /* border: 1px solid red; */
  height: 250px;
  margin-top: 40px;
  margin: 20px;
  text-align: left;
  box-shadow: 0px 4px 14px rgb(89, 89, 89);
  /* box-shadow: 0px 1px 14px orange; */
  border-radius: 20px;
  /* transition: transform 0.4s ; */
  transition: background-color 0.3s;
  padding: 5px;
  position: relative;
  background-color: rgba(235, 235, 198,0.4);

}
.eachchapter:hover{
  cursor: pointer;
  background-color:rgb(247, 243, 217) ;
  border: 1px solid rgb(244, 189, 117);
  position: relative;
}

.eachchapter h1,h3{
  margin-left: 13px;
  position: relative;
}
.eachchapter h1{
  color: rgb(245 121 3);
  font-size: 17px;
  position: relative;
}
.eachchapter h3{
  margin-top: -10px;
  font-size: 20px;
  position: relative;

}

.summary{
  /* border: 1px solid black; */
  height: 108px;
  margin-top: -10px;
  padding-right: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}
p{
  margin-left: 10px;
  position: relative;
  font-weight: 600;
}



@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.loading-shimmer {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  /* background: darkgray; */
  opacity: 60%;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  /* background-size: 800px 104px; */
  height: 100%;
  position: relative;
}

.loading-card {
  /* width: 100%; */
  border: 1px solid #e7dede;
  margin: 50px;
  border-radius: 4px;
height: 250px;  padding: 1rem;
}
h4{
  font-size: 17.1px;
}
